// ------- FONTS ---------
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-raleway: 'Raleway', sans-serif;


// ------- COLORS ---------

$ob-green-color: #32D4A4;
$text-dark-grey: #121625;
$text-light-grey: #A5A8B3;
$text-soft-grey: #8C909C;
$bg-soft-grey: #F8F8F9;
$bg-medium-grey: #E6E6EA;


// --------- GENERAL STYLES ----------

body{
    font-family: $font-raleway;
}

#root, html, body{
    height: 100%;
}

.font-weigth-500{
    font-weight: 500;
}

.text-green{
    color: $ob-green-color;
}

.pointer{
    cursor: pointer;
}